body {
    font-family: Arial, sans-serif;
}

div {
    /*
    border-style: solid;
    border-color: aqua
    */
}

.top-section {
    background-color: #1F2937;

}

.navbar-left {
    font-size: 24px;
    color: #F9FAF8;
}

.navbar-right {
    justify-content: end;
    gap: 16px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

a:visited {
    color: #F9FAF8;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.padding-column-top {
    width: 150px;
    
}

.padding-column-top-2 {
    width: 50px;
}

.padding-column {
    width: 250px;
    flex-basis: auto;
    flex-shrink: 5;
}

.padding-row {
    height: 50px;
}

.hero-text {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}



#main-image {
    flex-basis: 0;
}

.information-header {
    font-weight: 900;
    font-size: 36px;
    justify-content: center;
    color: #1F2937;
}

.button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 6px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    
}

.thumbnail-row {
    justify-content: center;
}

.thumbnail {
    border: 2px solid blue;
    border-radius: 8%;
}

.quote-section {
    background-color: #E5E7EB;
}

.inspiring-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-attribution {
    font-weight: bolder;
    align-items: end;
}

.horizontally-centered-text {
    /* for text in a div with property flex-direction: row */
    text-align: center;
    justify-content: center;
}
