body {
    font-family: Arial, sans-serif;
}

div {
    border-style: solid;
    border-color: aqua
}

.header, .footer {
    /*
    background-color: #1F2937;
    color: white;
    */
}

.navbar-left {

    
}

.navbar-right {
    margin-left: auto;
    gap: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.title-one {
    font-weight: 900;
    font-size: x-large;
}

.title-two {
    font-weight: 900;
    font-size: large;
    justify-content: center;
}

.button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 6px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    
}

.thumbnail-row {
    justify-content: center;
}

.thumbnail {
    border: 2px solid blue;
    border-radius: 8%;
}

.horizontally-centered-text {
    /* for text in a div with property flex-direction: row */
    text-align: center;
    justify-content: center;
}
/*
*/